{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
<div class="container container-page center">
    <h1>Erreur 404</h1>
    <p>Nous n'avons pas trouvé la page que vous cherchiez.</p>
</div>
{% endblock %}