<tr>
    {{  form_start(addForm) }}

    <td>
        <div class="form-row">{{  form_widget(addForm.nom) }}</div>
    </td>

    <td>
        <div class="form-row"><button type="submit" class="btn btn-primary btn-sm">Ajouter</button></div>
    </td>

    {{  form_end(addForm) }}
</tr>