@import "~bootstrap/scss/bootstrap";

.admin-page {
    table {
        a {
            text-decoration: none;
        }

        td {
            vertical-align: middle;
        }
    }
}

nav {
    .img-profile {
        height: 30px;
        width: 30px;
    }
}
