@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root {
    --blue: #68C7DE;
    --darkblue: #173863;
    --red: #EB2123;
    --orange: #F8971C;
    --yellow: #F5EB14;
}

html {
    height: 100%;
}

body {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}


nav {

    &.navbar-admin {
        background-color: var(--darkblue) !important;
        color: white;
        .nav-link {
            color: white !important;
        }
    }

    .img-profile {
        height: 30px;
        width: 30px;
    }

}

.admin-page {
    table {
        a {
            text-decoration: none;
        }

        td {
            vertical-align: middle;
        }
    }

    .participant-img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-pic {
        &.list {
            width: 40px !important;
            height: 40px !important;
        }
    }
}

.container-page {
    margin-top: 3rem;
    margin-bottom: 3rem;

    h1, #search_form_search, .btn-grp {
        margin-bottom: 2rem;
    }

    .btn-grp {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}

.error-page {
    &.main {
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Nunito Sans", serif;
        color: var(--darkblue);
        font-size: 1em;
    }

    .glass {
        border-radius: 14px;
        background: rgba(255, 255, 255, 0.09);
        backdrop-filter: blur(6.159999847412109px);
        padding: 0 50px;
    }

    button {
        font-family: "Nunito Sans", serif;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 35px;
    }

    svg {
        width: 100%;
        visibility: hidden;
    }

    h1 {
        font-size: 7.5em;
        margin: 15px 0;
        font-weight:bold;
    }

    h2 {
        font-weight:bold;
    }

    .btn {
        z-index: 1;
        overflow: hidden;
        background: transparent;
        position: relative;
        padding: 8px 50px;
        border-radius: 30px;
        cursor: pointer;
        font-size: 1em;
        letter-spacing: 2px;
        transition: 0.2s ease;
        font-weight: bold;
        margin: 5px 0px;

        &.blue {
            border: 4px solid var(--blue);
            color: var(--darkblue);

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                height: 100%;
                background: var(--blue);
                z-index: -1;
                transition: 0.2s ease;
            }

            &:hover {
                color: #FFF;
                background: var(--blue);
                transition: 0.2s ease;
                &:before {
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        .main {
            display:block;
        }

        .container {
            margin-top:70px;
            margin-bottom:70px;
        }
    }
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.w-fit-content {
    width: fit-content;
}
.h-fit-content {
    height: fit-content;
}

.info {
    color: var(--blue);
    font-size: 20px;
    font-weight: normal;
}

.btn-admin {
    background-color: var(--darkblue) !important;
    color: white !important;
    border: #292929;

    &:hover {
        background-color: #292929 !important;
    }
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--blue);
    outline: 0;
    box-shadow: none;
}

.readonly {
    .required-field {
        color: #a1a1a1 !important;
    }
    input {
        cursor: default;
        background: #ededed;
        &:focus {
            border-color: #dee2e6;
            background: #ededed;
            outline: 0;
            box-shadow: none !important;
        }
    }
}

.required-field {
    font-size: 14px;
    color: var(--blue)
}

.nodisplay {
    display: none;
}

//selected rows
table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgba(37, 230, 255, 0.9) !important;
    color: rgb(255, 255, 255) !important;
}


#app-footer {
    margin-top: auto;
    background-color: #292929 !important;
    color: white !important;
    width: 100%;
}
