@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root {
    --blue: #68C7DE;
    --darkblue: #173863;
    --red: #EB2123;
    --orange: #F8971C;
    --yellow: #F5EB14;
}

html {
    height: 100%;
}

body {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}


nav {

    &.navbar-admin {
        background-color: var(--darkblue) !important;
        color: white;
        .nav-link {
            color: white !important;
        }
    }

    .img-profile {
        height: 30px;
        width: 30px;
        object-fit: cover;
    }

}

.login-page {
    margin-top: 9rem;
}

.admin-page {
    table {
        a {
            text-decoration: none;
        }

        td {
            img {
                vertical-align: middle;
            }
            vertical-align: middle;
        }
    }

    .participant-img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.sortie-page {
    .table {
        a {
            text-decoration: none;
        }

        td {
            img, a {
                vertical-align: middle;
            }
            vertical-align: middle;
        }
    }

    &.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        .sortie-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            h1 {
                font-size: 28px;
                margin-bottom: 0 !important;
            }

            h2 {
                font-size: 18px;
                font-weight: normal !important;
                margin-bottom: 0 !important;
                color: #3E3E3E;

                span {
                    font-weight: lighter !important;

                    a {
                        text-decoration: none;
                    }
                }

            }
        }

        .motif-annulation {
            color: var(--bs-danger);
        }

        .sortie-infos {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .sortie-text {
                p {

                }

                .sortie-text-inscription {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 3rem;
                    .inscription-infos {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        p {
                            margin-bottom: 0;
                        }

                        span {
                            color: #3E3E3E;
                            font-size: 14px;
                        }
                    }

                    .btn {
                        height: 38px !important;
                    }
                }

            }

            .sortie-map {
                .map-text {
                    display: flex;
                    gap: 1rem;
                    align-items: flex-start;
                    justify-content: flex-start;
                    i {
                        margin-top: 5px;
                        height: 20px;
                    }

                    p {
                    }
                }

                #map {
                    &.map-false {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: #d5d5d5;
                        gap: 1rem;
                        i, span {
                            color: #fff;
                        }
                        i {
                            font-size: 30px;
                        }
                    }

                }
            }
        }

        .participants-in-sortie {
            width: 70%;
            td  {
                vertical-align: middle;
                text-align: left;
            }
        }

        .btn-retour {

        }
    }
}

.container-page {
    margin-top: 3rem;
    margin-bottom: 3rem;

    h1, #search_form_search, .btn-grp {
        margin-bottom: 2rem;
    }

    .btn-grp {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}

.error-page {
    &.main {
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Nunito Sans", serif;
        color: var(--darkblue);
        font-size: 1em;
    }

    .glass {
        border-radius: 14px;
        background: rgba(255, 255, 255, 0.09);
        backdrop-filter: blur(6.159999847412109px);
        padding: 0 50px;
    }

    button {
        font-family: "Nunito Sans", serif;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 35px;
    }

    svg {
        width: 100%;
        visibility: hidden;
    }

    h1 {
        font-size: 7.5em;
        margin: 15px 0;
        font-weight:bold;
    }

    h2 {
        font-weight:bold;
    }

    .btn {
        z-index: 1;
        overflow: hidden;
        background: transparent;
        position: relative;
        padding: 8px 50px;
        border-radius: 30px;
        cursor: pointer;
        font-size: 1em;
        letter-spacing: 2px;
        transition: 0.2s ease;
        font-weight: bold;
        margin: 5px 0px;

        &.blue {
            border: 4px solid var(--blue);
            color: var(--darkblue);

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                height: 100%;
                background: var(--blue);
                z-index: -1;
                transition: 0.2s ease;
            }

            &:hover {
                color: #FFF;
                background: var(--blue);
                transition: 0.2s ease;
                &:before {
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        .main {
            display:block;
        }

        .container {
            margin-top:70px;
            margin-bottom:70px;
        }
    }
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;

    &.list{
        border-radius: 50% !important;
        width: 30px !important;
        height: 30px !important;
    }
}

.w-fit-content {
    width: fit-content;
}
.h-fit-content {
    height: fit-content;
}

.info {
    color: var(--blue);
    font-size: 20px;
    font-weight: normal;
}

.btn-admin {
    background-color: var(--darkblue) !important;
    color: white !important;
    border: #292929;

    &:hover {
        background-color: #292929 !important;
    }
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--blue);
    outline: 0;
    box-shadow: none;
}

.readonly {
    .required-field {
        color: #a1a1a1 !important;
    }
    input {
        cursor: default;
        background: #ededed;
        &:focus {
            border-color: #dee2e6;
            background: #ededed;
            outline: 0;
            box-shadow: none !important;
        }
    }
}

.required-field {
    font-size: 14px;
    color: var(--blue)
}

.nodisplay {
    display: none;
}

.btn-outline-info {
    --bs-btn-color: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--blue);
    --bs-btn-hover-border-color: var(--blue);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--blue);
    --bs-btn-active-border-color: var(--blue);
    --bs-btn-disabled-color: var(--blue);
    --bs-btn-disabled-border-color: var(--blue);
}


.btn-outline-warning {
    --bs-btn-color: var(--orange);
    --bs-btn-border-color: var(--orange);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--orange);
    --bs-btn-hover-border-color: var(--orange);
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--orange);
    --bs-btn-active-border-color: var(--orange);
    --bs-btn-disabled-color: var(--orange);
    --bs-btn-disabled-border-color: var(--orange);
}


.btn-outline-delete {
    --bs-btn-color: #763bea;
    --bs-btn-border-color: #763bea;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #763bea;
    --bs-btn-hover-border-color: #763bea;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #763bea;
    --bs-btn-active-border-color: #763bea;
    --bs-btn-disabled-color: #763bea;
    --bs-btn-disabled-border-color: #763bea;
}


//selected rows
table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgba(37, 230, 255, 0.9) !important;
    color: rgb(255, 255, 255) !important;
}


#app-footer {
    margin-top: auto;
    background-color: #292929 !important;
    color: white !important;
    width: 100%;
}
