<!-- Footer -->
<footer id="app-footer" class="text-center text-lg-start bg-light text-muted">

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Informations légales - © 2023 Droits d'auteur:
        <a class="text-reset fw-bold" href="#">Sortir.com</a>
        by ENI Ecole Informatique - Le code source est sous license - RGPD - Accessibilité
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->