{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}Page indisponible{% endblock %}
{% block code %}404e{% endblock %}
{% block titre %}Vous vous êtes perdu..{% endblock %}
{% block message %}
    La page à laquelle vous essayez d'accéder n'existe pas ou n'est pas disponible.<br>
    Vous ne devriez pas rester la, cliquez sur le boutton ci-dessous afin de retourner à l'accueil.
{% endblock %}
{% block button %}
    <a href="{{ path('sortie_list') }}"><button class="btn blue">ACCUEIL</button></a>
{% endblock %}