{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% if 'ROLE_BAN' in app.user.roles %}
    {% block code %}STOP{% endblock %}
    {% block titre %}Vous êtes banni.{% endblock %}
    {% block message %}
        Votre compte a été désactivé.<br>
        Si vous pensez qu'il sagit d'une erreur, veuillez contacter un administrateur.
    {% endblock %}
    {% block button %}
        <a><button class="btn blue">CONTACTER</button></a>
    {% endblock %}
{% else %}
    {% block code %}403{% endblock %}
    {% block titre %}Vous n'avez pas le droit dêtre ici.{% endblock %}
    {% block message %}
        La page à laquelle vous essayez d'accéder n'est pas accessible.<br>
        Vous ne devriez pas rester la, cliquez sur le boutton ci-dessous afin de retourner à l'accueil.
    {% endblock %}
    {% block button %}
        <a href="{{ path('sortie_list') }}"><button class="btn blue">ACCUEIL</button></a>
    {% endblock %}
{% endif %}