{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="main error-page">
        <div class="container">
            <div class="row">
                <div class="col-md-5 align-self-center">
                    <img src="{{ asset('images/illustration.png') }}" alt="">
                </div>
                <div class="glass col-md-7 align-self-center">
                    <h1>{% block code %}{% endblock %}</h1>
                    <h2>{% block title %}{% endblock %}</h2>
                    <p>{% block message %}{% endblock %}</p>
                    {% block button %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}