{% extends 'base.html.twig' %}

{% block title %}Erreur 500{% endblock %}

{% block body %}
    <div class="main error-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <img src="{{ asset('images/illustration.png') }}" alt="">
                </div>
                <div class="glass col-md-6 align-self-center">
                    <h1>500</h1>
                    <h2>Il y a un problème...</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}